---
http_interactions:
- request:
    method: post
    uri: https://api.trypaper.com/Mailing
    body:
      encoding: UTF-8
      string: '{"ReturnAddressId":"555_Main_Street_Fake_City","Content":"VHJ5UGFwZXIgQVBJIG9ubHkgYWNjZXB0cyBQREZzIGFuZCBIVE1MIGZpbGVz\nLiBUaGlzIGRvY3VtZW50IHdpbGwgcmFpc2UgYW4gZXJyb3Igd2hlbiB1c2Vk\nLgo=\n","Recipient":{"Name":"Patrick
        Jones","AddressLineOne":"555 Main Street","AddressLineTwo":"Apt 1","City":"Denver","Province":"CO","PostalCode":"54345"}}'
    headers:
      Authorization:
      - TPTESTCF24A7D8095EDF88E3EFD6103C
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Requestid:
      - 2fe05208-8499-4461-8237-7b9f4d766e45
      X-Apiversion:
      - 2.0.1
    body:
      encoding: UTF-8
      string: '"Mailing Content was an unsupported type."'
  recorded_at: Fri, 09 Jan 2015 01:09:26 GMT
recorded_with: VCR 2.9.3
