---
http_interactions:
- request:
    method: post
    uri: https://api.trypaper.com/Mailing
    body:
      encoding: UTF-8
      string: '{"ReturnAddressId":"555_Main_Street_Fake_City","Tags":[],"Content":"JVBERi0xLjUNCiW1t","Recipient":{"Name":"Patrick Jones","AddressLineOne":"555 Main Street","AddressLineTwo":"Apt 1","City":"Denver","Province":"CO","PostalCode":"54345"}}'
    headers:
      Authorization:
      - TPTESTCF24A7D8095EDF88E3EFD6103C
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.trypaper.com/Mailing
      X-Requestid:
      - f983a885-b138-42a7-bd89-93ce492e791c
      X-Apiversion:
      - 2.0.1
    body:
      encoding: UTF-8
      string: '{"Id":"Patrick Jones 54345 CO - CC28758F6F5F","BatchId":"Test 1/12/2015
        6:45 PM - Auto","CreateDateUtc":"2015-01-12T19:04:50.0357126Z"}'
  recorded_at: Mon, 12 Jan 2015 19:04:49 GMT
recorded_with: VCR 2.9.3
